* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: "Fira Code", Courier, monospace;
    font-style: normal;
    color: #d9d9d9;
    /* background-color: #262626; */
}

body {
    display: flex;
    justify-content: center;
}
